* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

a {
    color: white;
    display: block;
    height: fit-content;
    width: fit-content;
    margin-top: 20px;
}

body {
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

main {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    min-height: -webkit-fill-available;
    height: 100vh;
    z-index: -10;
    background: url("../img/background.jpg") no-repeat center center;
    background-size: cover;
    filter: brightness(80%) grayscale(1);
}

body:after {
    content: "";
    display: block;
    position: fixed;
    opacity: .9;
    left: 0;
    top: 0;
    width: 100%;
    min-height: -webkit-fill-available;
    height: 100vh;
    z-index: -9;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 30%, rgba(97, 91, 91, 0.9) 70%);
    background-size: cover;
    filter: brightness(50%) grayscale(1);
}

.form_outer {
    display: none;
}

.form_outer_mobile {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
}

.form_back {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.form_back_left,
.form_back_right {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form_back_left {
    height: 40%;
}

.form_back_right {
    height: 60%;
}

.form_front {
    background-color: white;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    transform: translateX(95%);
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_front_mobile {
    background-color: rgba(255, 255, 255, 0.4);
    width: 100%;
    height: 100%;
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_data {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.back_left_container,
.back_right_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 75%;
    width: 70%;
    text-align: left;
    color: white;
}

h2 {
    font-weight: 100;
}

hr {
    width: 50px;
    border-color: #45adc7;
    border-style: none;
    border-top-style: solid;
    border-top-width: 2px;
    margin: 10px 0;
}

p {
    margin-bottom: 20px;
}

button {
    background-color: #45adc7;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    border-radius: 28px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 17px;
    padding: 16px 31px;
    border-style: none;
    width: 150px;
    align-self: flex-start;
}

.button_mobile {
    align-self: center;
    width: 120px;
    padding: 8px 25px;
}

.orange {
    background-color: orange;
}

button:hover {
    background-color: #5cbf2a;
}

button:active {
    position: relative;
    top: 1px;
}

input {
    height: 50px;
    border: none;
    border-bottom: 1px solid grey;
    padding-left: 10px;
}

input:focus,
button:focus {
    outline: none;
}

.inactive {
    display: none;
}

.margin_top {
    margin-top: 10px;
}

.margin_bottom {
    margin-bottom: 10px;
}

.padding_top {
    padding-top: 20px;
}

/* media queries */
@media(min-width: 576px) {}

@media(min-width: 992px) {

    .form_outer_mobile {
        display: none;
    }

    .form_outer {
        width: 60%;
        height: 50%;
        position: relative;
        display: block;

    }

    .form_back {
        width: 100%;
        height: 100%;
        flex-direction: row;
    }

    .form_back_left,
    .form_back_right {
        height: 100%;
        width: 50%;
        align-items: center;
    }

    .back_left_container,
    .back_right_container {
        align-items: flex-start;
        padding: 0;
        height: 75%;
        width: 75%;
    }
}
